/* Mixins __________*/
@import "variables";

/* Button __________*/
@mixin button($textColor, $backgroundColor) {
  margin-top: 1rem;
  padding: 11px 18px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: "Ilisarniq-Bold", monospace;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    background-color: $textColor;
    color: $backgroundColor;
  }
}

/* Media Queries __________*/
@mixin media-max($max-width) {
  @media (max-width: $max-width) {
    & {
      @content;
    }
  }
}
