/* Files import __________*/
@import "variables";
@import "mixins";
@import "shapes";

/* Components __________*/

/* General __________*/
* {
  outline: none;
  text-decoration: none;
  font-family: "Ilisarniq-Regular", monospace;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/* html ______*/
html {
  max-width: 100vw;
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

  /* body ______*/
  body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background: var(--light-to-dark);
    color: var(--dark-to-light);
    line-height: 1.3;
    overflow-x: hidden;

    a,
    a:hover,
    a:visited,
    a:active {
      color: inherit;
      text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    .title-span {
      font-family: "Ilisarniq-Demi", monospace;
    }

    h1 {
      font-size: 3.8em;
      text-align: center;

      @media (max-width: 991.98px) {
        font-size: 36px;
      }

      @media (max-width: 611.98px) {
        font-size: 24px;
      }
    }

    ul {
      padding-left: 0;
      list-style: none;
    }
    button {
      @include button($black, $white);
    }
  }
}

/* Classes __________*/
.btn-blue {
  @include button($white, $blue);
}
.btn-red {
  @include button($white, $green);
}
.title-span {
  color: $blue;
  display: block;
}
.alert {
  color: rgb(245, 92, 92);
}
h1, h2, h3{
  letter-spacing: 5px;
}
.grecaptcha-badge {
  transition: opacity 0.2s ease;
}
